body{
  font-family: Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
}

.grid{
  display: grid;
}

.container{
  border-style: dotted;
  border-color: black;
  border-width: 1px;
  border-radius: 6px;
  padding: 10px;
}

.horizontal-line{
  border-top: solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
}

.button{
  border-style: dotted;
  border-color: black;
  border-width: 1px;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}